/* Fonts */
@font-face {
  font-family: 'Masqualero-Regular';
  src: url("../assets/fonts/Masqualero-Regular.otf");
}

@font-face {
  font-family: 'Masqualero-Bold';
  src: url("../assets/fonts/Masqualero-Bold.otf");
}

@font-face {
  font-family: 'Masqualero-Italic';
  src: url("../assets/fonts/Masqualero-Italic.otf");
}

/* HTML */
html {
  scroll-behavior: smooth;
}

/* Generalities start */
.body {
  background-image: url("../assets/imgs/bckg/background.jpg");
  background-size: 300px auto;
  background-attachment: fixed;
  padding-top: 100px;
}

.rounded {
  border-radius: 20px !important;
}

.nopadding {
  padding: 0px !important;
}

.main-frame {
  height: 350px;
  width: 100%;
}

.form-input {
  background-color: #675565;
  color: #000000 !important;
}

.bg-greenimage {
  background-image: url(../assets/imgs/carousel/pub1b.jpg);
}

.bg-yellowimage {
  background-image: url(../assets/imgs/carousel/pub2b.jpg);
}

/* Generalities end */
/* Background styling start */
.bg-lightgreen {
  background-color: #8dd28f;
}

.bg-lightpurple {
  background-color: #675565;
}

/* Background styling end */
/* Text styling start*/
.text-primary, .text-dark, .text-muted {
  font-family: "Masqualero-Bold", "serif" !important;
}

.text-secondary, .text-muted, .text-input {
  font-family: "Masqualero-Italic", "serif" !important;
}

.text-primary {
  color: #d99700 !important;
  font-size: 1.6rem;
}

.text-primary-small {
  font-size: 1.4rem;
}

.text-secondary {
  color: #675565 !important;
  font-size: 1.1rem;
}

.text-dark {
  color: #000000 !important;
  font-size: 1.5rem;
}

.text-muted {
  color: #000000 !important;
  font-size: 1.2rem;
}

.text-input {
  color: #000000 !important;
  font-size: 1.3rem;
}

/* Text styling end*/
/* Navbar start */
.navbar-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-nopadding {
  padding: 0px;
}

.navbar-title {
  margin-top: 7px;
}

.navbar-logo {
  min-width: 40px;
  max-width: 40px;
}

/* Navbar end */
/* Carousel start */
.carousel {
  height: auto;
  width: 100%;
}

.carousel .carousel-item {
  height: auto;
  width: 100%;
  max-height: 515px;
}

.carousel-inner img {
  margin: 0 auto;
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  max-height: 515px;
}

/* Carousel end */
/* Images styling start */
.img-merch, .img-merch-shadowed {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  width: 95%;
}

.img-merch-shadowed {
  -webkit-box-shadow: 5px 5px 5px 5px #000000;
          box-shadow: 5px 5px 5px 5px #000000;
}

.img-us, .img-place {
  height: auto;
  width: 90%;
}

.img-contact {
  height: auto;
  width: 100%;
}

/* Images styling end */
/* Media queries start */
/* xd to sm */
@media screen and (min-width: 576px) {
  /* Img resizing */
  .img-merch, .img-merch-shadowed {
    max-width: 350px;
  }
  .img-merch-shadowed {
    max-width: 300px;
  }
  .img-us {
    height: auto;
    width: 80%;
  }
  .img-contact {
    height: auto;
    width: 70%;
  }
}

/* sm to md */
@media screen and (min-width: 768px) {
  /* Top padding resizing */
  .body {
    padding-top: 110px;
  }
  /* Text resizing */
  .text-primary {
    font-size: 1.8rem;
  }
  .text-primary-small {
    font-size: 1.6rem;
  }
  .text-secondary {
    font-size: 1.2rem;
  }
  .text-dark {
    font-size: 1.8rem;
  }
  .text-muted {
    font-size: 1.6rem;
  }
  /* Img resizing */
  .img-us {
    height: auto;
    width: 75%;
  }
  .img-contact {
    height: auto;
    width: 50%;
  }
}

/* md to lg */
@media screen and (min-width: 992px) {
  /* Merch grid display implementation */
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img-merch, .img-merch-shadowed {
    max-width: 600px;
  }
  .grid-merch {
    grid-gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "hat box apron apron" "bags bags apron apron" "shirt shirt cup cup0" "shirt shirt van van";
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    justify-items: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    max-width: 1400px;
  }
  .img-merch-shadowed {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: none;
    padding: 0px;
  }
  .hat {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hat;
  }
  .apron {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: apron;
  }
  .bags {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: bags;
  }
  .box {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: box;
  }
  .cup {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: cup;
  }
  .cup0 {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    grid-area: cup0;
  }
  .shirt {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: shirt;
  }
  .van {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: van;
  }
  /* Img resizing */
  .img-us {
    height: auto;
    width: 95%;
  }
  .img-contact {
    height: auto;
    width: 40%;
  }
}

/* lg to xl */
/* @media screen and (min-width: 1200px) */
/* Fix for footer going up in a certain moment */
@media screen and (min-width: 1324px) {
  .img-contact {
    height: auto;
    width: 30%;
  }
}

/* Media Queries for resizing video and map frames */
@media screen and (min-width: 685px) {
  .main-frame {
    height: 450px;
    width: 95%;
  }
}

@media screen and (min-width: 992px) {
  .main-frame {
    height: 300px;
    width: 95%;
  }
}

@media screen and (min-width: 1200px) {
  .main-frame {
    height: 400px;
    width: 90%;
  }
}

/* Media queries end */
.footer {
  margin-top: 30px;
}

.footer-img {
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-text {
  margin-top: 6px;
}

/* Hov */
@-webkit-keyframes hov {
  30% {
    -webkit-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes hov {
  30% {
    -webkit-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

a .text-dark:hover, a .text-muted:hover, a .footer-img:hover, .img-logo:hover, .img-merch-shadowed:hover, .dropdown-toggle:hover {
  -webkit-animation-name: hov;
          animation-name: hov;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.img-merch-shadowed:hover {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

/* Darken */
@-webkit-keyframes darken {
  25% {
    background-color: #675565;
  }
  100% {
    background-color: #8dd28f;
  }
}
@keyframes darken {
  25% {
    background-color: #675565;
  }
  100% {
    background-color: #8dd28f;
  }
}

p:hover {
  -webkit-animation-name: darken;
          animation-name: darken;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
/*# sourceMappingURL=style.css.map */