// Variables import //
@import "./abstracts/animations"
@import "./abstracts/variables"
@import "./abstracts/mixins"
@import "./base/typography"
@import "./modules/buttons"
@import "./modules/carousel"
@import "./layout/body"
@import "./layout/navbar"
@import "./layout/footer"
@import "./layout/forms"
@import "./layout/frames"
@import "./layout/imgs"

/* HTML */
html
    scroll-behavior: smooth

/* Generalities start */
.mb-spaced
    margin-bottom: 50px !important

.rounded
    border-radius: 20px !important

.nopadding
    padding: 0px !important

.bg-greenimage
    background-image: url(../assets/imgs/carousel/pub1b.jpg)

.bg-yellowimage
    background-image: url(../assets/imgs/carousel/pub2b.jpg)
/* Generalities end */

/* Background styling start */
.bg-strgreen
    background-color: map-get($colors, strgreen)

.bg-lightpurple
    background-color: map-get($colors, lightpurple)
/* Background styling end */